<!doctype html>
<html>

<head>
  <meta  charset="utf-8">
  <title>Kick-Off</title>
  <script src="/js/jquery.js"></script>
  <!-- <script src="/js/countdown.js"></script> -->
</head>

<body>
  {{{body}}}
</body>

</html>
