<h1>Add an Event</h1>


<form class="" action="/add_event/add" method="POST">
  <label>Event Name :</label>
  <div class="">
    <input type="text" name="event_name" value="{{event_name}}">
  </div>
  <label>Event Date :</label>
  <div class="">
    <input type="date" name="event_date" value="{{event_date}}">
  </div>
  <div class="">
    <input type="submit">
  </div>
</form>
